body {
  background-color: midnightblue;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1:nth-of-type(1) {
  position: relative;
  user-select: none;
  width: 240px;
  font-style: italic;
  color: #373fff;
  box-shadow: #373fff 5px 5px;
  z-index: 10;
}

a.header {
  position: relative;
  user-select: none;
  z-index: 10;
}

.moon-body {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.moon-shadow {
  position: absolute;
  background-color: midnightblue;
  top: 50%;
  left: 25%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

dialog[open] {
  background: white;
}

button.close {
  background-color: red;
}

footer {
  position: fixed;
  z-index: 15;
}

a:visited {
  color: blue;
}
