body {
  background-color: black;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  user-select: none;
  width: 240px;
  font-style: italic;
  color: #373fff;
  box-shadow: #373fff 5px 5px
}

#moon-body {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#moon-shadow {
  position: absolute;
  background-color: black;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
